<!-- Arquivo HTML resposável pela pagina do projeto -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>ECS</title>
        <link rel="stylesheet" href="{% static 'simulator/style.css' %}?v=2">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <aside class="sidebar">
            <img class="sidebar-logo" src="{% static 'simulator/logo.svg' %}" alt="Logo do projeto ECS" width="100">
            <a class="sidebar-option" href="/">
                <img class="aside-logo" src="{% static 'simulator/simulator.svg' %}" alt="Logo do simulador" width="100">
                <span>SIMULADOR</span>
            </a>
            <a class="sidebar-option" href="/history">
                <img class="aside-logo" src="{% static 'simulator/history.svg' %}" alt="Logo do histórico" width="100">
                <span>HISTÓRICO</span>
            </a>
        </aside>
        <div class="container">
            <header class="page-header">
                <!-- Header da página -->
                <h1>ECS</h1>
                <h2>Simulador de Consumo Energético</h2>
            </header>
            <main>
                <section class="content">
                    <!-- Sessão do simulador -->
                    <h3>Simulador de Gastos</h3>
                    <div class="power-cost">
                        <h4>Custo de energia (R$/kWh)</h4>
                        <div>
                            <span>R$</span>
                            <input type="number" value="0.70" step="0.01">
                        </div>
                    </div>
                    <div class="device-table">
                        <h4>Dispositivos</h4>
                        <table id="devices-table">
                            <!--
                                Tabela de dispositivos e suas funções,
                                como adicionar, remover e simular
                            -->
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Quantidade</th>
                                    <th>Potência Média (W)</th>
                                    <th>Horas de uso diário</th>
                                    <th><!-- th do botao deletar --></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--
                                    O corpo da tebela é adicionado
                                    de forma dinamica, com JS
                                -->
                            </tbody>
                        </table>
                        <div class="actions">
                            <button class="button" onclick="addDeviceFormDisplay('block')">Adicionar</button>
                            <button class="button">Simular</button>
                        </div>
                    </div>
                </section>
                <div id="device-form" style="display: none">
                    <!-- Formulario para adicionar novo dispositivo -->
                    <div class="form-container">
                        <div>
                            <div class="form-header">
                                <h3>Adicionar Dispositivo</h3>
                                <button onclick="addDeviceFormDisplay('none')">x</button>
                            </div>
                            <form>
                                <div>
                                    <label for="name">Nome</label>
                                    <input
                                        type="text"
                                        name="name"
                                        id="name"
                                        required
                                    >
                                </div>
                                <div>
                                    <label for="amount">Quantidade</label>
                                    <input
                                        type="number"
                                        name="amount"
                                        id="amount"
                                        min="1"
                                        required
                                    >
                                </div>
                                <div>
                                    <label for="averagePower">Potência Média (W)</label>
                                    <input
                                        type="number"
                                        name="averagePower"
                                        id="averagePower"
                                        min="0"
                                        required
                                    >
                                </div>
                                <div>
                                    <label for="usageTime">Horas de uso diário</label>
                                    <input
                                        type="number"
                                        name="usageTime"
                                        id="usageTime"
                                        min="0"
                                        required
                                    >
                                </div>
                                <button type="submit">Adicionar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="{% static 'simulator/script.js' %}?v=2"></script>
</html>